@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  height:100vh;
  @apply bg-gradient-to-b from-bgcolor1 via-bgcolor2 to-bgcolor3  h-screen w-screen;
  padding: 0em 20em 0em;
}

body {  
  flex-shrink: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Microsoft Yahei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#chat_high_text {
  font-style:normal;
  font-weight: bold;
  color: rgba(252, 182, 159, 1);  
}

.main_text_font {
  font-family: 'Black Ops One';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  /* identical to box height */
  letter-spacing: -0.05em;
  color: #FFFFFF;
}

.base_icon {
  display: inline-block;
  margin-right: 8px;
  cursor: pointer;
}

.avatar_name_title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.square_message_document{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: -0.3px;

/* Bold text */

color: #141619;
}
